# Copyright (c) 2016-2019 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
#;

[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output

[variables]
$sut_mac0=@@dst_mac0
$sut_mac1=@@dst_mac1
$sut_mac2=@@dst_mac2
$sut_mac3=@@dst_mac3

[port 0]
name=p0
mac=hardware
rx desc=2048
tx desc=2048
promiscuous=yes

[port 1]
name=p1
mac=hardware
rx desc=2048
tx desc=2048
promiscuous=yes

[port 2]
name=p2
mac=hardware
rx desc=2048
tx desc=2048
promiscuous=yes

[port 3]
name=p3
mac=hardware
rx desc=2048
tx desc=2048
promiscuous=yes

[defaults]
mempool size=4K

[global]
start time=5
name=Basic Gen

[core 0]
mode=master

[core 1-4]
name=p0
task=0
mode=gen
tx port=p0
bps=1250000000
; Ethernet + IP + UDP
pkt inline=${sut_mac0} 70 00 00 00 00 01 08 00 45 00 00 24 00 01 00 00 40 11 f7 7d 98 10 64 01 98 10 64 02 13 88 13 88 00 10 55 7b 00 01 02 03 04 05 06 07
; src_ip: 152.16.100.0/28
random=0000XXX1
rand_offset=29
; dst_ip: 152.16.100.0/28
random=0000XXX0
rand_offset=33
; src_port: 5000-5007, dst_port: 5000-5007
random=0001001110001XXX0001001110001XXX
rand_offset=34
lat pos=42
signature pos=46
signature=0xcafedeca

[core 5-8]
name=p1
task=0
mode=gen
tx port=p1
bps=1250000000
; Ethernet + IP + UDP
pkt inline=${sut_mac1} 70 00 00 00 00 02 08 00 45 00 00 24 00 01 00 00 40 11 f7 7d 98 10 64 01 98 10 64 02 13 88 13 88 00 10 55 7b 00 01 02 03 04 05 06 07
; src_ip: 152.16.100.0/28
random=0000XXX1
rand_offset=29
; dst_ip: 152.16.100.0/28
random=0000XXX0
rand_offset=33
; src_port: 5000-5007, dst_port: 5000-5007
random=0001001110001XXX0001001110001XXX
rand_offset=34
lat pos=42
signature pos=46
signature=0xcafedeca

[core 9-12]
name=p2
task=0
mode=gen
tx port=p2
bps=1250000000
; Ethernet + IP + UDP
pkt inline=${sut_mac2} 70 00 00 00 00 03 08 00 45 00 00 24 00 01 00 00 40 11 f7 7d 98 10 64 01 98 10 64 02 13 88 13 88 00 10 55 7b 00 01 02 03 04 05 06 07
; src_ip: 152.16.100.0/28
random=0000XXX1
rand_offset=29
; dst_ip: 152.16.100.0/28
random=0000XXX0
rand_offset=33
; src_port: 5000-5007, dst_port: 5000-5007
random=0001001110001XXX0001001110001XXX
rand_offset=34
lat pos=42
signature pos=46
signature=0xcafedeca

[core 13-16]
name=p3
task=0
mode=gen
tx port=p3
bps=1250000000
; Ethernet + IP + UDP
pkt inline=${sut_mac3} 70 00 00 00 00 04 08 00 45 00 00 24 00 01 00 00 40 11 f7 7d 98 10 64 01 98 10 64 02 13 88 13 88 00 10 55 7b 00 01 02 03 04 05 06 07
; src_ip: 152.16.100.0/28
random=0000XXX1
rand_offset=29
; dst_ip: 152.16.100.0/28
random=0000XXX0
rand_offset=33
; src_port: 5000-5007, dst_port: 5000-5007
random=0001001110001XXX0001001110001XXX
rand_offset=34
lat pos=42
signature pos=46
signature=0xcafedeca

[core 28]
name=rec 0
task=0
mode=lat
rx port=p0
lat pos=42
signature pos=46
signature=0xcafedeca

[core 29]
name=rec 1
task=0
mode=lat
rx port=p1
lat pos=42
signature pos=46
signature=0xcafedeca

[core 30]
name=rec 2
task=0
mode=lat
rx port=p2
lat pos=42
signature pos=46
signature=0xcafedeca

[core 31]
name=rec 3
task=0
mode=lat
rx port=p3
lat pos=42
signature pos=46
signature=0xcafedeca
