; Copyright (c) 2016-2017 Intel Corporation
;
; Licensed under the Apache License, Version 2.0 (the "License");
; you may not use this file except in compliance with the License.
; You may obtain a copy of the License at
;
;      http://www.apache.org/licenses/LICENSE-2.0
;
; Unless required by applicable law or agreed to in writing, software
; distributed under the License is distributed on an "AS IS" BASIS,
; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
; See the License for the specific language governing permissions and
; limitations under the License.


[lua]
acl_table = dofile("acl_rules-2.lua")

[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output

[port 0]
name=if0
mac=hardware
rx desc=2048
tx desc=2048
[port 1]
name=if1
mac=hardware
rx desc=2048
tx desc=2048

[defaults]
mempool size=65K
memcache size=512
qinq tag=0xa888

[global]
start time=5
name=ACL handle

[core 0]
task=0
mode=master

[core 1]
name=W-up
task=0
mode=acl
max rules=32768
rules=acl_table
rx port=if0
tx cores=1t1
drop=no

task=1
mode=l2fwd
dst mac=00:00:00:00:00:01
rx ring=yes
tx port=if0
drop=no

[core 2]
name=W-up
task=0
mode=acl
max rules=32768
rules=acl_table
rx port=if1
tx cores=2t1
drop=no

task=1
mode=l2fwd
dst mac=00:00:00:00:00:02
rx ring=yes
tx port=if1
drop=no

