;
; Dataplane Automated Testing System
;
; Copyright (c) 2015-2017, Intel Corporation.
; All rights reserved.
;
; Redistribution and use in source and binary forms, with or without
; modification, are permitted provided that the following conditions
; are met:
;
;   * Redistributions of source code must retain the above copyright
;     notice, this list of conditions and the following disclaimer.
;   * Redistributions in binary form must reproduce the above copyright
;     notice, this list of conditions and the following disclaimer in
;     the documentation and/or other materials provided with the
;     distribution.
;   * Neither the name of Intel Corporation nor the names of its
;     contributors may be used to endorse or promote products derived
;     from this software without specific prior written permission.
;
; THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
; "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
; LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
; A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
; OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
; SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
; LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
; DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
; THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
; (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
; OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
;

[lua]
dofile("tuples.lua")

[variables]
$sut_mac0=@@dst_mac0
$sut_mac1=@@dst_mac1
$sut_mac2=@@dst_mac2
$sut_mac3=@@dst_mac3
$qinq_tag="0xa888"
$qinq_tag_inline="88 a8"

; -- Number of memory channels
$tester_memory_channels = 4
$sut_memory_channels = 4

;-- NIC blacklist
$tester_blacklist = ""
$sut_blacklist = "-b 0000:00:03.0"

[eal options]
-n=$sut_memory_channels
no-output=no ; disable DPDK debug output
eal=${sut_blacklist}

[port 0]
name=if0
mac=hardware
rx desc=2048
tx desc=2048
[port 1]
name=if1
mac=hardware
rx desc=2048
tx desc=2048

[port 2]
name=if2
mac=hardware
rx desc=2048
tx desc=2048

[port 3]
name=if3
mac=hardware
rx desc=2048
tx desc=2048

[defaults]
mempool size=13K
memcache size=512

[global]
start time=5
name=Handle 5 Tuple lookup (4x)

[core 0]
mode=master

[core 1]
name=none
task=0
mode=lb5tuple
rx port=if0
tx cores=5,6,7,8
drop=no

[core 2]
name=none
task=0
mode=lb5tuple
rx port=if1
tx cores=5,6,7,8
drop=no

[core 3]
name=none
task=0
mode=lb5tuple
rx port=if2
tx cores=5,6,7,8
drop=no

[core 4]
name=none
task=0
mode=lb5tuple
rx port=if3
tx cores=5,6,7,8
drop=no

[core 5]
task=0
mode=l2fwd
dst mac=@@p0
rx ring=yes
tx port=if0
drop=no

[core 6]
task=0
mode=l2fwd
dst mac=@@p1
rx ring=yes
tx port=if1
drop=no

[core 7]
task=0
mode=l2fwd
dst mac=@@p2
rx ring=yes
tx port=if2
drop=no

[core 8]
task=0
mode=l2fwd
dst mac=@@p3
rx ring=yes
tx port=if3
drop=no

