; Copyright (c) 2017 Intel Corporation
;
; Licensed under the Apache License, Version 2.0 (the "License");
; you may not use this file except in compliance with the License.
; You may obtain a copy of the License at
;
;      http://www.apache.org/licenses/LICENSE-2.0
;
; Unless required by applicable law or agreed to in writing, software
; distributed under the License is distributed on an "AS IS" BASIS,
; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
; See the License for the specific language governing permissions and
; limitations under the License.

[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output

[port 0]
name=if0
mac=50:00:00:00:00:01
[port 1]
name=if1
mac=50:00:00:00:00:02

[defaults]
mempool size=4K

[global]
start time=5
name=Handle None (4x)

[core 0]
mode=master

[core 1]
name=none
task=0
mode=none
rx port=if0
tx port=if1
drop=no

[core 2]
name=none
task=0
mode=none
rx port=if1
tx port=if0
drop=no
