# Copyright (c) 2016-2017 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
#;


[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output

[port 0]
name=if0
mac=hardware
[port 1]
name=if1
mac=hardware
[port 2]
name=if2
mac=hardware
[port 3]
name=if3
mac=hardware

[defaults]
mempool size=4K

[lua]
lpm4 = dofile("ipv4.lua")

[global]
start time=5
name=Routing (4x)

[core 0]
mode=master

[core 1]
name=Routing
task=0
mode=routing
route table=lpm4
rx port=if0
tx port=if0,if1
drop=no

[core 2]
name=Routing
task=0
mode=routing
route table=lpm4
rx port=if1
tx port=if0,if1
drop=no

[core 3]
name=Routing
task=0
mode=routing
route table=lpm4
rx port=if2
tx port=if2,if3
drop=no

[core 4]
name=Routing
task=0
mode=routing
route table=lpm4
rx port=if3
tx port=if2,if3
drop=no
