nodes:
  - name: Deployment, Controller and Compute single VM
    openstack_node: control
    hostname: allinone
    interfaces:
      - network: management
        ip: 192.168.1.21
        netmask: 255.255.255.0
      - network: traffic
        ip: 192.20.1.21
        netmask: 255.255.255.0
    user: ubuntu
    password: password
    image: /tmp/image_one.img
    disk: 22000
    ram: 14000
    vcpus: 12 

networks:
  - name: management
    default_gateway: True
    host_ip: 192.168.1.1
    netmask: 255.255.255.0

  - name: traffic
    default_gateway: False  # This parameter is not mandatory, default value: False
    host_ip: 192.20.1.1
    netmask: 255.255.255.0
