# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

coverage!=4.4 # Apache-2.0
fixtures # Apache-2.0/BSD
oslotest # Apache-2.0
packaging # Apache-2.0
pyflakes # MIT; OSI Approved  MIT License
pylint # GPLv2
python-subunit # Apache-2.0/BSD
testrepository # Apache-2.0/BSD
testtools # MIT
unittest2 # BSD

# NOTE(ralonsoh): to be removed, only for coverage support
python-heatclient # Apache-2.0

# Yardstick G release <-> OpenStack Queens release
openstack-requirements==1.2.0 # OSI Approved  Apache Software License
-e git+https://github.com/openstack/requirements.git@stable/queens#egg=os_requirements

