<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div>
            <div class="navbar-header">

                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>-->

                <a class="navbar-brand" href="#/">Yardstick</a>
            </div>

            <!--<div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li ui-sref="app.environment"><a href="#/">Environment</a></li>
                    <li><a ng-href="#/">Project</a></li>
                    <li><a ng-href="#/">Task</a></li>
                    <li><a ng-href="#/">Excute</a></li>
                    <li><a ng-href="#/">Report</a></li>

                </ul>-->
        </div>
    </div>
</div>
</div>

<style>
    .header {
        position: fixed;
        top: 0px;
        width: 100%;
        /*box-shadow: 3px 2px 5px #888888;*/
        z-index: 9;
    }
    
    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 0px;
        border: none;
        /* border: 1px solid transparent; */
    }
    
    .navbar {
        border-radius: 0px;
        background-color: #e95420;
        color: #fff;
    }
    
    .navbar-default .navbar-brand {
        color: #fff;
    }
</style>