<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div>
            <div class="navbar-header">



                <a class="navbar-brand" href="#/">Yardstick</a>
            </div>


        </div>
    </div>
</div>
</div>

<style>
    .header {
        position: fixed;
        top: 0px;
        width: 100%;
        /*box-shadow: 3px 2px 5px #888888;*/
        z-index: 9;
    }

    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 0px;
        border: none;
        /* border: 1px solid transparent; */
    }

    .navbar {
        border-radius: 0px;
        background-color: #e95420;
        color: #fff;
    }

    .navbar-default .navbar-brand {
        color: #fff;
    }
</style>
