nodes:
  - name: Yardstick VM
    hostname: yardstickvm
    interfaces:
      - network: management
        ip: 192.168.1.10
        netmask: 255.255.255.0
    user: ubuntu
    password: password
    image: /tmp/image1.qcow
    disk: 50000
    ram: 8192
    vcpus: 4

  - name: Controller_Compute VM
    openstack_node: controller_compute
    hostname: controller_compute
    interfaces:
      - network: management
        ip: 192.168.1.20
        netmask: 255.255.255.0
      - network: traffic
        ip: 192.20.1.20
        netmask: 255.255.255.0
    user: ubuntu
    password: password
    image: /tmp/image_2.qcow
    disk: 40000
    ram: 32768
    vcpus: 4

networks:
  - name: management
    host_ip: 192.168.1.1
    netmask: 255.255.255.0
