clouds:
    demo:
        identity_api_version: "{{ openrc.OS_IDENTITY_API_VERSION }}"
        auth:
            auth_url: "{{ openrc.OS_AUTH_URL }}"
            password: "{{ openrc.OS_PASSWORD }}"
            username: "{{ openrc.OS_USERNAME }}"
            project_name: "{{ openrc.OS_PROJECT_NAME }}"
            project_domain_name: "{{ openrc.OS_PROJECT_DOMAIN_NAME }}"
