body{
    font-size: 16pt;
}

table{
  overflow-y: scroll;
  height: 360px;
  display: block;
  width:100%;
}

header,h3{
    font-family: Frutiger;
    clear: left;
    text-align: center;
}

.control-pane{
    font-size: 10pt;
}
