<!DOCTYPE html>
<html>

<!--
 Copyright (c) 2017 Rajesh Kudaka <4k.rajesh@gmail.com>
 Copyright (c) 2018 Intel Corporation.

 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Apache License, Version 2.0
 which accompanies this distribution, and is available at
 http://www.apache.org/licenses/LICENSE-2.0
-->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

        <style>
            table {
                overflow-y: scroll;
                height: 360px;
                display: block;
            }
            header {
                font-family: Frutiger, "Helvetica Neue", Helvetica, Arial, sans-serif;
                clear: left;
                text-align: center;
            }
        </style>
    </head>

    <body>
        <header class="jumbotron text-center">
            <h1>Yardstick User Interface</h1>
            <h4>Report of {{task_id}} Generated</h4>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-hover"></table>
                    </div>
                </div>
                <div class="col-md-8">
                    <canvas id="cnvGraph" style="width: 100%; height: 500px"></canvas>
                </div>
            </div>
        </div>

        <script>
            var None = null;
            var arr, tab, th, tr, td, tn, row, col, thead, tbody, val;
            arr = {{table|safe}};
            tab = document.getElementsByTagName('table')[0];

            thead = document.createElement('thead');
            tr = document.createElement('tr');
            for (col = 0; col < Object.keys(arr).length; col++) {
                th = document.createElement('th');
                tn = document.createTextNode(Object.keys(arr).sort()[col]);
                th.appendChild(tn);
                tr.appendChild(th);
            }
            thead.appendChild(tr);
            tab.appendChild(thead);

            tbody = document.createElement('tbody');
            for (row = 0; row < arr[Object.keys(arr)[0]].length; row++) {
                tr = document.createElement('tr');
                for (col = 0; col < Object.keys(arr).length; col++) {
                    val = arr[Object.keys(arr).sort()[col]][row];
                    td = document.createElement('td');
                    tn = document.createTextNode(val === None ? '' : val);
                    td.appendChild(tn);
                    tr.appendChild(td);
                }
                tbody.appendChild(tr);
            }
            tab.appendChild(tbody);

            $(function() {
                var datasets = {{datasets|safe}};

                var colors = [
                    '#FF0000',  // Red
                    '#228B22',  // ForestGreen
                    '#FF8C00',  // DarkOrange
                    '#00008B',  // DarkBlue
                    '#FF00FF',  // Fuchsia
                    '#9ACD32',  // YellowGreen
                    '#FFD700',  // Gold
                    '#4169E1',  // RoyalBlue
                    '#A0522D',  // Sienna
                    '#20B2AA',  // LightSeaGreen
                    '#8A2BE2',  // BlueViolet
                ];

                var points = [
                    {s: 'circle',   r: 3},
                    {s: 'rect',     r: 4},
                    {s: 'triangle', r: 4},
                    {s: 'star',     r: 4},
                    {s: 'rectRot',  r: 5},
                ];

                datasets.forEach(function(d, i) {
                    var color = colors[i % colors.length];
                    var point = points[i % points.length];
                    d.borderColor = color;
                    d.backgroundColor = color;
                    d.pointStyle = point.s;
                    d.pointRadius = point.r;
                    d.pointHoverRadius = point.r + 1;
                });

                new Chart($('#cnvGraph'), {
                    type: 'line',
                    data: {
                        labels: {{Timestamps|safe}},
                        datasets: datasets,
                    },
                    options: {
                        elements: {
                            line: {
                                borderWidth: 2,
                                fill: false,
                                tension: 0,
                            },
                        },
                        title: {
                            text: [
                                'Yardstick test results',
                                'Report of {{task_id}} Task Generated',
                            ],
                            display: true,
                        },
                        scales: {
                            xAxes: [{
                                type: 'category',
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Timestamp',
                                },
                            }],
                            yAxes: [{
                                type: 'linear',
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Values',
                                },
                            }],
                        },
                        tooltips: {
                            mode: 'point',
                            intersect: true,
                        },
                        hover: {
                            mode: 'index',
                            intersect: false,
                            animationDuration: 0,
                        },
                        legend: {
                            position: 'right',
                            labels: {
                                usePointStyle: true,
                            },
                        },
                        animation: {
                            duration: 0,
                        },
                        responsive: true,
                        responsiveAnimationDuration: 0,
                        maintainAspectRatio: false,
                    },
                });
            });
        </script>
    </body>
</html>
