# Copyright (c) 2017 Intel Corporation.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
- name: create yardstick-samplevnfs image
  when: openrc_file is defined
  os_image:
    name: yardstick-samplevnfs
    is_public: yes
    disk_format: qcow2
    container_format: bare
    filename: "{{ imgfile }}"
    properties:
      hw_vif_multiqueue_enabled: true
